@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'SwampWitch';
  src: url('/fonts/SwampWitch.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.rpv-toolbar {
  position: relative;
}

.rpv-caption {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1.125rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  z-index: 1000;
}

h1 {
  font-family: 'SwampWitch', Arial, Helvetica, sans-serif;
}

h2 {
  font-family: var(--font-heading);
}

.navbar, .nav-link {
  font-family: var(--font-heading), serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: center;
}

main {
  text-align: center;
}

body {
  background: linear-gradient(180deg, #000000 0%, #4b0c18 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.logo-font {
  font-family: 'SwampWitch', Arial, Helvetica, sans-serif;
}