@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'SwampWitch';
  src: url('/fonts/Swamp Witch.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1, h2 {
  font-family: 'Swamp Witch', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  text-align: center;
}

main {
  text-align: center;
}

body {
  background: linear-gradient(180deg, #000000 0%, #4b0c18 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.logo-font {
  font-family: 'Swamp Witch', Arial, Helvetica, sans-serif;
}